* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  background-image: url("/bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.container {
  width: 90vw;
  height: 90vh;
  display: flex;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  backdrop-filter: blur(19px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
}
.loading {
  font-size: 50px;
  padding: 50px;
  border-radius: 10px;
  background: rgba(17, 25, 40, 0.9);
}
